// themes - our custom or/and out of the box themes
@import 'themes';
@import '~ngx-toastr/toastr.css';
// import 'flatpickr/dist/flatpickr.css'; 
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...
@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";
@import "../../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};
.nb-theme-corporate nb-layout .layout nb-layout-header nav{
  padding-left: 0px!important;
  background-color: #004181 !important; 
}
.nb-theme-corporate [_nghost-c4] .logo-containter[_ngcontent-c4] {
  padding-left: 0px!important;
}
.toast-top-right{
  position: fixed;
  left:45% !important;
  top:40% !important;
  width:30%;
  height:30%;
}

.toast-container .toast{
  width:100% !important;
  height:100% !important; 
  display: flex;
  align-items: center;
}
