.but{
    background-color: gray
}
.form-control:disabled {
    border-color: #dadfe6;
    background: lightgray  !important;
}
.color{
    background-color: black
}
.color1{
    background-color: gray
}